.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App ul li,
.App .open{
  font-size: 24px;
}

#guessans, .guessbtn, .reset{
  font-size: 24px;
  padding: 10px;
  margin: 10px;
}
